 
.lightMode {
  background-color: #e4e5f1;
}
.darkMode {
  background-color: #32292F;
}
.logo {
  width: 350px;
}
.navSection,
.logoSection {
  display: flex;
  justify-content: center;
}
.navButton {
  background-color: #3f48cc;
  color: #f0f7f4;
  font-size: 20px;
  margin: 1%;
  padding: 1%;
  border-radius: 5%;
  height: fit-content;
}
@media screen and (min-width: 769px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
  }
  .navSection {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
}
