* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: baseline;
    box-sizing: border-box;
}
.lightMode {
  background-color: #e4e5f1;
  color:#32292F;
}
.darkMode {
  background-color: #32292F;
  color:#f0f7f4;
}
.toggleButton {
  background-color: #e4e5f1;
  margin-top: 20px;
  margin-left:10px;
  border-style: none;
  padding:0%;
  height:50px;
  width: 50px;
  border-radius:50%
}
.logo {
  width: 300px;
}
.sunIcon, .moonIcon {
  width:50px;
  border-radius: 50%;
}
.navSection,
.logoSection, .dashboardMenu {
  display: flex;
  justify-content: center;
}
Button {
  background-color: #3f48cc;
  color: #f0f7f4;
  font-size: 20px;
  margin: 1%;
  padding: 1%;
  border-radius: 5%;
  height: fit-content;
}
button:hover {
  background-color:#ff7f27;
}
.btnLink {
  text-decoration: none;
  color:#f0f7f4;
}
/* used to make header scroll */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 10px;
  transition: background-color 0.3s ease;
}
/* used to make content lower then header */
.contentBody {
  margin-top:40%;
}

.title {

  margin-top:5%;
  width:100%;
  background-color:#ff7f27;
  color:#f0f7f4;
  padding:2%;
}
.loginForm, .signupForm, .searchForm, .searchData {
  width: 80%;
  margin: 0 auto;
  padding-top:5%;
}
.label {
  display: block;
  margin-bottom: 5px;
}
.entryField {
  width: 100%;
  padding: 2%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.link {
  color: #0ed145;
}
.linkContainer {
  display:block;
  margin-top:5%;
}
/* dashboard dropdown */

.dropdownContainer {
  position: relative;
  display: inline-block;
  padding:0.5%;
  padding-right: 3%;
  height:min-content
}

.dropdownButton {
  position: relative;
  z-index: 1;
  height:fit-content;
  padding:3%;
}

.dropdownContent {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  background-color:#e4e5f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdownLink {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.dropdownLink:hover {
  background-color: #f1f1f1;
}

/* donation button */

.contentBody {
  position: relative;
  min-height: 75vh;
}

.contentBody > div:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  display:flex;
  justify-content: center;
}
.ccInfo {
  padding:2%;
  width:100%;
}

/* modal */
.youtubeVideoContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 9999; */
  padding-bottom: 56.25%; /* 16:9 aspect ratio (for responsive video) */
  margin: 0 auto; /* Center the container horizontally */
}

.youtubeVideoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.youtubeVideoContainer .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
.donationTitle {
  margin: 2%;
}
/* .modal {
  position: relative;
  padding-bottom: 56.25%; 
  width:300px;
  overflow: hidden;
  margin: 0 auto; 
}

.modalContent {
  position: absolute;
  background-color: #fff;
  padding: 20px;
  width: 300px;
  height: 100%;
} */



@media screen and (min-width: 769px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
  }
  .navSection {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  .loginForm, .signupForm {
    width: 50%;
    margin: 0 auto;
  }
  .linkContainer {
    display:flex;
    flex-direction: row;
    margin-top:5%;
  }
  .link {
    margin-left: 1%;
  }
  .dropdownContainer {
    position: relative;
    display: inline-block;
    padding:0.5%;
    padding-right: 4%;
    height:min-content
  }
  
  .dropdownButton {
    position: relative;
    z-index: 1;
    height:fit-content;
    padding:2%;
  }

  .contentBody {
    margin-top:15vh;
    position: relative;
    min-height: 85vh;
  }
  .ccInfo {
    padding:2%;
    width:60%;
  }
 
 /*  
.youtubeVideoContainer{
  position: relative;
  background-color: #fff;
  padding: 20px;
  width:80%;
  height: 150%;
  overflow-y:auto;
  padding-bottom:0%;
} */
}
