 * {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
.lightMode {
  background-color: #e4e5f1;
  color:#32292F;
}
.darkMode {
  background-color: #32292F;
  color:#f0f7f4;
}
.toggleButton {
  background-color: #e4e5f1;
  margin-top: 20px;
  margin-left:10px;
  border-style: none;
  padding:0%;
  height:50px;
  width: 50px;
  border-radius:50%
}
.logo {
  width: 300px;
}
.sunIcon, .moonIcon {
  width:50px;
  border-radius: 50%;
}
.navSection,
.logoSection {
  display: flex;
  justify-content: center;
}
.navButton {
  background-color: #3f48cc;
  color: #f0f7f4;
  font-size: 20px;
  margin: 1%;
  padding: 1%;
  border-radius: 5%;
  height: fit-content;
}
button:hover {
  background-color:red;
}
.btnLink {
  text-decoration: none;
  color:#f0f7f4;
}
@media screen and (min-width: 769px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
  }
  .navSection {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
}
